@use "../../styles/variables.scss" as vars;

.logo {
  padding: 12px 0;
  display: flex;

  @media (max-width: 1024px) and (min-width: 768px) {
    background-color: vars.$almost-black;
    width: 100%;
    padding: 23px 32px;
  }
  @media (max-width: 767px) {
    padding: 13px 16px;
    background-color: vars.$almost-black;
  }
}

.logo svg {
  color: vars.$total-white;
}
