@use "../../../styles//variables" as vars;
@use "../../../styles/typography.scss" as typography;

.searchbar svg {
  color: vars.$grey;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.topbar-header-small-screen {
  font-family: typography.get-font(inter);
  @include typography.font-preset(typography.get-preset(preset-1));
  display: none;
}

.wrapper-small-screen {
  padding: 24px 32px;
  display: none;
}

@media (max-width: 1023px) {
  .wrapper-small-screen,
  .topbar-header-small-screen {
    display: block;
  }
}

@media (max-width: 767px) {
  .wrapper-small-screen {
    padding: 16px;
  }
}
