// colors

$total-black: #0e121b;
$almost-black: #232530;
$total-white: #ffffff;
$grey-300: #e0e4ea;
$grey-dark: #717784;
$grey: #99a0ae;
$grey-600: #525866;
$blue: #335cff;
$blue-dark: #2547D0;
$grey-200: #CACFD8;
$grey-100: #F3F5F8